<% if user_signed_in? %>
<h1>Friends</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Twitter</th>
      <th scope="col">User Id</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <% if friend.user == current_user %>
      <tr>
        <th scope="row">
        <%= link_to friend.first_name+" "+friend.last_name, friend %>
        </th>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
        <td><%= friend.user_id %></td>
        <td><%= button_to "Delete", friend, class:"btn btn-outline-danger", method: :delete %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to "New friend", new_friend_path, class:"btn btn-secondary" %>
<% else %>
<h1>Hello World!!!!</h1>
THis is my first rails website
<% end %>
